.index-container {
  background-color: #31f4ed;
}
.box img {
  width: 500px;
  height: 300px;
}
#start {
  background-color: #f6fdc3;
  margin: auto;
  inset: 0px;
  border: none;
}
#start a {
  color: #ff96ad;
  text-decoration: none;
  font-size: 96px;
}
#start:hover {
  box-shadow: 10px 10px 0px #ff96ad;
}

/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Apply a flex container to the body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes at least the full height of the viewport */
  background-color: #31f4ed;
}

.text-header-allGames,
.text-header-hangman,
.text-header-mathQuiz,
.text-header-triviaQuiz {
  color: #fff; /* Add your desired text color for header links */
  text-decoration: none;
  margin-right: 10px; /* Add some spacing between header links */
}

.navbar {
  background-color: #ffffff;
}

/* Center the allGames-display */
.allGames-display {
  flex-grow: 1; /* Allow the allGames-display to grow and take remaining space */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the content inside allGames-display */
.bigger-rectangle {
  background-color: #eeeeee; /* Add your desired background color for the allGames-display */
  padding: 20px; /* Add padding to the content inside */
}

.row-games {
  display: flex;
  justify-content: space-around;
}

.box {
  padding: 10px;
  transition: transform 0.3s ease-in-out; /* Added transition for smooth effect */
}

.box:hover {
  transform: scale(1.1); /* Scale the box on hover */
}

.box a {
  color: inherit;
  text-decoration: none;
}

.box a:hover {
  color: inherit;
  text-decoration: underline;
}
#loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the loading page is above other elements */
}
